<nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-light">
  <div class="container container-fluid">
    <a class="navbar-brand" href="/">GKS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <!-- if title name matches with link then add active class -->
        <li class="nav-item">
          <a
            class="nav-link <%= title === 'About' && 'active' %>"
            aria-current="page"
            href="/about"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= title === 'Projects' && 'active' %>"
            href="/projects"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= title === 'Services' && 'active' %>"
            href="/services"
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= title === 'Contact' && 'active' %>"
            href="/contact"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= title === 'Dashboard' && 'active' %>"
            href="/dashboard"
            >Dashboard</a
          >
        </li>

        <%if (!user) { %>
        <li class="nav-item">
          <a class="nav-link <%= title === 'Login' && 'active' %>" href="/login"
            >Login</a
          >
        </li>
        <% }else{ %>
        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>
